*.dll
*.xml
*.iml
*.exe
*.pdb
BoardGame/BoardGameTests/bin/Debug/netcoreapp3.1/BoardGameTests.deps.json
BoardGame/BoardGame/bin/Debug/netcoreapp3.1/BoardGame.runtimeconfig.json
BoardGame/BoardGame/bin/Debug/netcoreapp3.1/BoardGame.runtimeconfig.dev.json
BoardGame/BoardGame/bin/Debug/netcoreapp3.1/BoardGame.deps.json
BoardGame/BoardGameTests/bin/Debug/netcoreapp3.1/BoardGameTests.runtimeconfig.dev.json
BoardGame/BoardGameTests/bin/Debug/netcoreapp3.1/BoardGameTests.runtimeconfig.json
*.props
*.cache
*.txt
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/BoardGame.AssemblyInfo.cs
*.targets
BoardGame/BoardGame/obj/BoardGame.csproj.nuget.dgspec.json
BoardGame/BoardGame/obj/project.assets.json
BoardGame/BoardGame/obj/project.packagespec.json
BoardGame/BoardGameTests/obj/BoardGameTests.csproj.nuget.dgspec.json
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/BoardGameTests.AssemblyInfo.cs
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/BoardGameTests.csproj.CopyComplete
BoardGame/BoardGameTests/obj/project.assets.json
BoardGame/BoardGameTests/obj/project.packagespec.json
TicTacToe/TicTacToeTests/obj/TicTacToeTests.csproj.nuget.dgspec.json
TicTacToe/TicTacToeTests/obj/project.packagespec.json
TicTacToe/TicTacToeTests/obj/project.assets.json
TicTacToe/TicTacToeTests/obj/Debug/netcoreapp3.1/TicTacToeTests.csproj.CopyComplete
TicTacToe/TicTacToeTests/obj/Debug/netcoreapp3.1/TicTacToeTests.AssemblyInfo.cs
TicTacToe/TicTacToeTests/bin/Debug/netcoreapp3.1/TicTacToeTests.runtimeconfig.json
TicTacToe/TicTacToeTests/bin/Debug/netcoreapp3.1/TicTacToeTests.runtimeconfig.dev.json
TicTacToe/TicTacToeTests/bin/Debug/netcoreapp3.1/TicTacToeTests.deps.json
TicTacToe/TicTacToe/obj/TicTacToe.csproj.nuget.dgspec.json
TicTacToe/TicTacToe/obj/project.packagespec.json
TicTacToe/TicTacToe/obj/project.assets.json
TicTacToe/TicTacToe/obj/Debug/netcoreapp3.1/TicTacToe.AssemblyInfo.cs
TicTacToe/TicTacToe/bin/Debug/netcoreapp3.1/TicTacToe.runtimeconfig.json
TicTacToe/TicTacToe/bin/Debug/netcoreapp3.1/TicTacToe.runtimeconfig.dev.json
TicTacToe/TicTacToe/bin/Debug/netcoreapp3.1/TicTacToe.deps.json
