*.dll
*.xml
*.iml
*.exe
*.pdb
BoardGame/BoardGameTests/bin/Debug/netcoreapp3.1/BoardGameTests.deps.json
BoardGame/BoardGame/bin/Debug/netcoreapp3.1/BoardGame.runtimeconfig.json
BoardGame/BoardGame/bin/Debug/netcoreapp3.1/BoardGame.runtimeconfig.dev.json
BoardGame/BoardGame/bin/Debug/netcoreapp3.1/BoardGame.deps.json
BoardGame/BoardGameTests/bin/Debug/netcoreapp3.1/BoardGameTests.runtimeconfig.dev.json
BoardGame/BoardGameTests/bin/Debug/netcoreapp3.1/BoardGameTests.runtimeconfig.json
*.props
*.cache
*.txt
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/BoardGame.AssemblyInfo.cs
*.targets
BoardGame/BoardGame/obj/BoardGame.csproj.nuget.dgspec.json
BoardGame/BoardGame/obj/project.assets.json
BoardGame/BoardGame/obj/project.packagespec.json
BoardGame/BoardGameTests/obj/BoardGameTests.csproj.nuget.dgspec.json
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/BoardGameTests.AssemblyInfo.cs
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/BoardGameTests.csproj.CopyComplete
BoardGame/BoardGameTests/obj/project.assets.json
BoardGame/BoardGameTests/obj/project.packagespec.json
TicTacToe/TicTacToeTests/obj/TicTacToeTests.csproj.nuget.dgspec.json
TicTacToe/TicTacToeTests/obj/project.packagespec.json
TicTacToe/TicTacToeTests/obj/project.assets.json
TicTacToe/TicTacToeTests/obj/Debug/netcoreapp3.1/TicTacToeTests.csproj.CopyComplete
TicTacToe/TicTacToeTests/obj/Debug/netcoreapp3.1/TicTacToeTests.AssemblyInfo.cs
TicTacToe/TicTacToeTests/bin/Debug/netcoreapp3.1/TicTacToeTests.runtimeconfig.json
TicTacToe/TicTacToeTests/bin/Debug/netcoreapp3.1/TicTacToeTests.runtimeconfig.dev.json
TicTacToe/TicTacToeTests/bin/Debug/netcoreapp3.1/TicTacToeTests.deps.json
TicTacToe/TicTacToe/obj/TicTacToe.csproj.nuget.dgspec.json
TicTacToe/TicTacToe/obj/project.packagespec.json
TicTacToe/TicTacToe/obj/project.assets.json
TicTacToe/TicTacToe/obj/Debug/netcoreapp3.1/TicTacToe.AssemblyInfo.cs
TicTacToe/TicTacToe/bin/Debug/netcoreapp3.1/TicTacToe.runtimeconfig.json
TicTacToe/TicTacToe/bin/Debug/netcoreapp3.1/TicTacToe.runtimeconfig.dev.json
TicTacToe/TicTacToe/bin/Debug/netcoreapp3.1/TicTacToe.deps.json
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameApi/obj/Debug/netcoreapp3.1/BoardGameApi.AssemblyInfo.cs
BoardGame/BoardGameApi/obj/BoardGameApi.csproj.nuget.dgspec.json
BoardGame/BoardGameApi/obj/project.packagespec.json
BoardGame/BoardGameApi/obj/project.assets.json
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/BoardGameApi.runtimeconfig.json
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/BoardGameApi.runtimeconfig.dev.json
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/BoardGameApi.deps.json
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/appsettings.json
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
BoardGame/BoardGameApiTests/obj/Debug/netcoreapp5.0/BoardGameApiTests.AssemblyInfo.cs
BoardGame/BoardGameApiTests/obj/Debug/netcoreapp3.1/BoardGameApiTests.csproj.CopyComplete
BoardGame/BoardGameApiTests/obj/Debug/netcoreapp3.1/BoardGameApiTests.AssemblyInfo.cs
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/BoardGameApiTests.runtimeconfig.json
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/BoardGameApiTests.deps.json
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/BoardGameApi.deps.json
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/BoardGame.deps.json
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/appsettings.json
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/appsettings.Development.json
BoardGame/BoardGameApi/obj/Debug/netcoreapp3.1/BoardGameApi.csproj.CopyComplete
BoardGame/BoardGameApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/BoardGameApiTests.runtimeconfig.dev.json
BoardGame/BoardGameApiTests/obj/BoardGameApiTests.csproj.nuget.dgspec.json
BoardGame/BoardGameApiTests/obj/project.assets.json
BoardGame/BoardGameApiTests/obj/project.packagespec.json
BoardGame/BoardGameTests/obj/rider.project.restore.info
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameApiTests/obj/rider.project.restore.info
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame.sln.DotSettings.user
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/rider.project.restore.info
BoardGame/BoardGameApi/obj/rider.project.restore.info
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
%USERPROFILE%.aspnethttpsaspnetapp.pfx
BoardGame/BoardGame/bin/Debug/netcoreapp3.1/BoardGame
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/BoardGame
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/BoardGame
BoardGame/BoardGameApi/bin/Debug/netcoreapp3.1/BoardGameApi
BoardGame/BoardGameApi/obj/Debug/netcoreapp3.1/BoardGameApi
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/BoardGame
BoardGame/BoardGameApiTests/bin/Debug/netcoreapp3.1/BoardGameApi
BoardGame/BoardGameTests/bin/Debug/netcoreapp3.1/BoardGame
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/BoardGame.csproj.CopyComplete
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGame/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
*.json
*.info
BoardGame/BoardGameApiModelTests/obj/Debug/netcoreapp3.1/BoardGameApiModelTests.csproj.CopyComplete
BoardGame/BoardGameApiModelTests/obj/Debug/netcoreapp3.1/BoardGameApiModelTests.AssemblyInfo.cs
BoardGame/BoardGameApiModelTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BoardGame/BoardGameApiModelTests/bin/Debug/netcoreapp3.1/BoardGame
BoardGame/BoardGameApiModelTests/bin/Debug/netcoreapp3.1/BoardGameApi
Draughts/Draughts/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Draughts/Draughts/obj/Debug/net5.0/Draughts.GeneratedMSBuildEditorConfig.editorconfig
Draughts/Draughts/obj/Debug/net5.0/Draughts.AssemblyInfo.cs
Draughts/Draughts.Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Draughts/Draughts.Tests/obj/Debug/net5.0/Draughts.Tests.AssemblyInfo.cs
Draughts/Draughts.Tests/obj/Debug/net5.0/Draughts.Tests.csproj.CopyComplete
Draughts/Draughts.Tests/obj/Debug/net5.0/Draughts.Tests.GeneratedMSBuildEditorConfig.editorconfig
Draughts/Draughts.sln.DotSettings.user
